@import '../../../css/theme';

.form {
  display: flex;
  flex-wrap: wrap;
  min-width: inherit !important;
}
.formControl {
  height: inherit;
  min-width: inherit !important;
}

.formLabel {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.activeCS {
  margin-left: 56% !important;
  margin-top: -48px !important;
  min-width: 44% !important;
}
