@import '../../../css/theme';

.registration {
  position: relative;
  .container {
    width: 100%;
    max-width: 55%;
    margin-bottom: 40px;
    @media (max-width: 600px) {
      padding-left: 0px;
    }
    @media (min-width: 992px) {
      padding-left: 40px;
    }
    display: block !important;
  }
  .paper {
    @media (max-width: 600px) {
      width: 435px;
    }
  }

  .submitButtonContainer {
    padding-top: 14px;
    padding-bottom: 14px;
    justify-content: center;
  }
  .encounterDatetime {
    margin-right: 28px;
    margin-left: 28px;
    width: 300px;
  }
  .section {
    padding: 28px 28px 14px 28px;
  }
  .textField {
    width: 272px;
  }
  .textArea {
    width: 100% !important;
  }
  .dropDown {
    min-width: 310px !important;
  }
  .title {
    margin-right: auto !important;
  }

  .dateTime {
    max-width: 512px !important;
  }

  .button {
    margin-top: 15px;
    height: 40px;
  }

  .progress {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .date {
    width: 310px;
  }
  [class*='MuiFormControl-fullWidth'] {
    width: 310px !important;
  }

  .textCon [class*='MuiFormControl-fullWidth'] {
    width: 100% !important;
    input[type='number'] {
      width: 200px;
    }
  }
  .row {
    display: inline-flex !important;
  }
  .primary {
    background-color: #4da3da !important;
    color: #f9f9f9 !important;
    margin-right: 14px !important;
  }
  .disabledButton {
    background-color: #999999 !important;
    color: #f9f9f9 !important;
    margin-right: 14px !important;
  }
  .red {
    background-color: #d9534f !important;
    color: #f9f9f9 !important;
    margin-left: 3px !important;
  }
  .selectCon [class*='MuiSelect-selectMenu'] {
    width: 125px !important;
  }
  .estimate {
    width: 242px !important;
  }
  .img {
    width: 32px;
    height: 32px;
    margin: 5px;
  }
  .margingtop {
    margin-top: 14px;
  }
  .selectRelationCon [class*='MuiSelect-selectMenu'] {
    width: 210px !important;
  }
  button {
    font-size: 12px;
  }
}
[class*='registration__progress'] {
  position: absolute;
  left: 50vw;
  top: 50vh;
}
