@import '../../../css/theme';

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -140px; /* Reset the margin added by the left menu */
}

.paper {
  width: auto;
  height: auto;
  min-width: 200px;
  @media (min-width: 400px) {
    width: 300px;
  }
  @media (min-width: 600px) {
    width: 400px;
  }
}

.form {
  margin: 20px;
}

.loginHeader {
  width: 100%;
  margin: auto auto 48px;

  .avatar {
    background-color: $dark_lavender;
    margin: auto auto 16px;
  }
  > h5 {
    margin: auto;
    text-align: center;
  }
}

.submitButtonContainer {
  padding-top: 14px;
  padding-bottom: 14px;
  justify-content: center;
}

.fullSizeField {
  width: 100%;
}

.dropdown {
  width: 100%;
  > div {
    width: 100%;
  }
}

.progress {
  position: absolute;
  left: 50vw;
  top: 50vh;
}

.appLogo {
  width: 94%;
}
