@import '../mainSidebar/mainSidebar.scss';

.disabled {
  pointer-events: none;
}
.clientsidebar {
  nav > div:nth-child(5) {
    [class*='MuiList'] {
      [class*='MuiButtonBase']:nth-child(2) {
        display: none;
      }
    }
  }
}
