@import '../../../css/theme';

.header {
  background: linear-gradient(
    90deg,
    $dark_lavender,
    $light_blue,
    $seafoam_blue
  );
  color: $white;
  height: 100px;
  white-space: nowrap;
}

.title {
  margin-top: 1%;
}

.buttons {
  float: right;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 18px;
  display: flex;
  margin-bottom: -2%;
  > div,
  span {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 40px;
    margin-right: 14px;
  }
}
