@import '../../../css/theme';

.outerCell {
  border: 0px !important;
  padding: 2px !important;
  vertical-align: top !important;
}
.innerCell {
  border: 1px solid gray;
  padding: 0px !important;
  border-bottom: 1px solid rgb(128, 128, 128) !important;
  max-width: 50px;
  height: 134px !important;
}
.hrStyle {
  margin: 2px;
  border: 1px solid white;
}
.encounterDatetime {
  flex-basis: 100%;
  display: inline-block;
  padding: 5px !important;
  input {
    font-size: 12px !important;
  }
  [class*='vcGrid'] {
    flex-direction: column !important;
  }
  [class*='vcTextField'] {
    min-height: 0 !important;
  }
}

.textField {
  width: 100%;
  padding: 0px 10px 0px 10px;
}
.dropDown {
  min-width: 100% !important;
  padding: 0px 16px 16px 16px !important;
}
.dateTime {
  max-width: 512px !important;
}
.childCell {
  border-bottom: 0px !important;
  width: 200px;
  padding: 0px 0px !important;
  [class*='dropDown'] {
    min-width: 100% !important;
    padding: 0px 13px !important;
  }
}
