.buttonContainer {
  padding: 14px;
  text-align: right;
}
.label {
  padding: 14px;
}
.labelVitals {
  padding-left: 14px;
  padding-top: 14px;
}
.paper {
  display: grid;
  width: 100%;
  margin-right: 40px;
  margin-bottom: 40px;
}
.forms {
  margin-bottom: 0px;
}
.chart {
  margin-bottom: 14px;
}
.table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 14px;
  width: 80%;
  max-height: 500px;
  overflow-y: auto;
}
.tabsscroll {
  margin: 0 auto;
  [class*='scrollable'] {
    width: 100%;
    max-width: 900px;
    min-width: 900px;
    margin: 0 auto !important;
  }
}
@media (max-width: 1024px) {
  .tabsscroll {
    [class*='scrollable'] {
      width: 100%;
      max-width: 400px;
      min-width: 400px;
      margin: 0 auto !important;
    }
  }
}

.addMultipleReadingButtonStyle {
  margin-right: 25px !important;
  border-radius: 0 !important;
}

.header {
  padding-top: 14px;
  padding-left: 28px;
  padding-right: 28px;
}
.title {
  margin-right: auto !important;
}

.root {
  flex-grow: 1;
  padding: 25px;
  [class*='vcToggleWithUnsure'] {
    width: 118px !important;
  }
  [class*='vcToggleWithUnsure__sectionToggle'] {
    margin: 20px auto !important;
  }
  input[type='text'] {
    margin-top: 10px;
  }
  input[type='number'] {
    margin-top: 10px;
  }
  input {
    width: 100% !important;
  }

  [datatest*='degrees-of-moulding-dropdown-field'] {
    [class*='MuiSelect-selectMenu'] {
      white-space: pre-line !important;
      font-size: 14px !important;
    }
  }
  [datatest*='descent-progression-dropdown-field'] {
    [class*='MuiSelect-selectMenu'] {
      white-space: pre-line !important;
      font-size: 14px !important;
    }
  }
  [datatest*='dilation-of-cervix-dropdown-field'] {
    [class*='MuiSelect-selectMenu'] {
      white-space: pre-line !important;
      font-size: 14px !important;
    }
  }

  [class*='MuiSelect-selectMenu'] {
    white-space: pre-line !important;
    font-size: 10px !important;
  }
  [class*='vcSelectOptions__container'] {
    [class*='vcSelectOptions'] {
      width: 57px;
      button {
        font-size: 12px;
        padding: 3px;
        margin: 0px !important;
        min-height: 30px;
        min-width: 49px;
      }
      [class*='vcButton'] {
        &.lastchild {
          margin-left: 5px;
        }
      }
    }
  }

  [class*='vcActiveLabourMultiReadingTable-fieldSet'] {
    overflow: hidden !important;
    [class*='vcGrid'] {
      flex-direction: column !important;
      padding: 0px 5px !important;
    }
    input {
      width: 100% !important;
    }
    [class*='MuiIconButton'] {
      display: inline-flex;
    }
    [class*='textField'] {
      width: 100% !important;
    }
  }

  .outerCell {
    border: 0px !important;
    padding: 2px !important;
    vertical-align: top !important;
  }

  .root .label {
    margin-top: 12px;
    margin-left: 95px;
    font-size: 18px;
    color: black;
    font-weight: bold;
  }
  .hrStyle {
    margin: 2px;
    border: 1px solid white;
  }
  .sideLabelStyle {
    font-size: 13;
    padding: 0px !important;
    max-width: 50px;
    border-bottom: 0px !important;
    height: 134px !important;
  }

  .sideLabelFont {
    font-size: 13px;
  }

  .header {
    padding-top: 14px;
    padding-left: 28px;
    padding-right: 28px;
  }
  .title {
    margin-right: auto !important;
  }
}

.retroButtonSectionGrid {
  height: 112px;
  flex-direction: column;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 30px;
  padding-bottom: 10px;
  justify-content: space-around;
  [datatest*='Save-btn'] {
    border-radius: 0px;
  }
  .savePartographStyle {
    border-radius: 0px;
    width: 230px;
  }
  .checkImgStyle {
    width: 18px;
    z-index: 1;
    margin-top: 11px;
    position: absolute;
    right: 142px;
  }

  .saveButton {
    z-index: 0;
    background-color: #a0a0a0 !important;
    min-width: 106px !important;
    span {
      margin-left: 20px;
    }
  }
}

.scrollableTable {
  display: 'block' !important;
  overflow-x: 'auto' !important;
}
.moreReadingCell {
  min-width: 1064 !important;
  padding: 0px !important;
  border-bottom: 0px !important;
}
